In [7]:
import numpy as np
import pandas as pd

## Simple Linear Regression
`y = b0 + b1x1 + e`

- y - Dependent Variable
- b0 - Intercept
- x1 - Independent Variable
- b1 - Slope for x1
- e - Error or Residual

\begin{equation*}
\text{Slope of independent variable (x1)}  = \frac{\text{Covariance of x and y}}{\text{(Varianace of X)}} 
\end{equation*}
\begin{equation*}
\text{Slope of independent variable (x1)}  = \frac{\sum{(x-\bar{x})(y-\bar{y})}}{\sum{(x-\bar{x})^2}}
\end{equation*}

Note: Correlation formula is very simlar to above. In denominator, instead of covariance of x its STD of x and y
\begin{equation*}
\text{Correlation of x and y}  = \frac{(x-\bar{x})(y-\bar{y})}{STD. of X * STD. of Y}
\end{equation*}

In [3]:
net_profit_margin = np.array([4,5,10,9,5,6,12,3]) 
R_and_D_Expense = np.array([8,10,6,5,7,9,5,10]) 
slope, intercept = np.polyfit(R_and_D_Expense, net_profit_margin, 1)
print(slope)
print(intercept)

-1.300000000000001
16.500000000000007

In [4]:
def slope(dependent, independent):
    dep_mean=np.mean(dependent)
    indep_mean=np.mean(independent)
    dep = dependent - dep_mean
    indep = independent - indep_mean
    numerator = (np.sum(dep * indep))/(len(dependent))
    return (numerator/np.var(independent))

In [5]:
slope(net_profit_margin,R_and_D_Expense)

-1.3

## Linear regression with Kaggle Datasets

### Data Clean up!!

In [22]:
ds = pd.read_csv("./Walmart_sales.csv")

In [23]:
ds.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

In [24]:
ds["Store"].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45])

In [26]:
ds['Date'] = pd.to_datetime(ds['Date'], format='%d-%m-%Y')

In [31]:
print(ds["Date"].min())
print(ds["Date"].max())

2010-02-05 00:00:00
2012-10-26 00:00:00

In [38]:
ds["Fuel_Price"].isnull().any()

False

## Perform linear regerssion with fuel price and sales

In [89]:
total_data_len = len(sales)
train_data_len = round(total_data_len*0.7)
validation_data_len = total_data_len - train_data_len
train = ds[0:train_data_len].copy()
validation = ds[train_data_len:total_data_len].copy()

In [90]:
sales = train["Weekly_Sales"].values ## Dependent Variable
FuelPrice = train["Fuel_Price"].values ## Independent Variable
slope, intercept = np.polyfit(sales, FuelPrice, 1)
print(slope)
print(intercept)

4.620508784697243e-08
3.1933842764413742

In [91]:
def estimateSales(fuelPrice):
    return (3.1933842764413742 * fuelPrice)

In [92]:
validation['estimated_weekly_sales'] = validation['Fuel_Price'].apply(estimateSales)

In [93]:
validation

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,estimated_weekly_sales
1545,11,2012-04-20,1315356.99,0,71.97,3.877,225.068954,6.664,12.380751
1546,11,2012-04-27,1236238.29,0,73.40,3.814,225.124353,6.664,12.179568
1547,11,2012-05-04,1370251.22,0,79.07,3.749,225.179751,6.664,11.971998
1548,11,2012-05-11,1300147.07,0,75.13,3.688,225.235150,6.664,11.777201
1549,11,2012-05-18,1352442.31,0,72.53,3.630,225.251202,6.664,11.591985
...,...,...,...,...,...,...,...,...,...
2202,16,2011-03-11,457504.35,0,29.36,3.372,192.058484,6.614,10.768092
2203,16,2011-03-18,497373.49,0,36.50,3.406,192.123798,6.614,10.876667
2204,16,2011-03-25,465279.68,0,32.61,3.414,192.196484,6.614,10.902214
2205,16,2011-04-01,459756.11,0,35.75,3.461,192.269171,6.339,11.052303
2206,16,2011-04-08,439276.50,0,38.04,3.532,192.341857,6.339,11.279033

In [52]:
print(len(sales))
print(len(FuelPrice))

6435
6435

In [ ]:
train_sale